{{ header }}
<div id="account-edit" class="container">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endfor %}
    </ul>
    {% if error_warning %}
        <div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}</div>
    {% endif %}
    <div class="row">{{ column_left }}
        <div id="content" class="col">{{ content_top }}
            <h1>{{ heading_title }}</h1>
            <div class="container emp-profile">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            {% if artist.image %}
                                <img src="{{ artist.image.url }}" alt=""/>
                            {% else %}
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                            <h5>
                                {{ artist.firstname }} {{ artist.lastname }}
                            </h5>
                            <h6>
                                Web Developer and Designer
                            </h6>
                                <p class="proile-rating">{{ text_rankings |upper}} : <span>8/10</span></p>
                            {% if artist.follower_count %}
                                <p class="proile-rating">
                                    {{ text_followers |upper }}: <span id="follower_count">{{ artist.follower_count }}</span> 
                                </p>
                            {% endif %}
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">{{ text_about_artist |capitalize }}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {% if is_logged %}
                        <div class="col-md-2">
                            <button type="button" 
                                    class="btn btn-outline-success follow" id="follow" 
                                    {% if is_following == true %}
                                        style="display: none;"
                                    {% endif %}
                                    >
                                {{ text_follow |capitalize }}
                            </button>
                            <button type="button" 
                                    class="btn btn-outline-danger follow" 
                                    id="unfollow" 
                                    {% if is_following == false%}
                                        style="display: none;"
                                    {% endif %}
                                    >
                                {{ text_unfollow |capitalize }}
                            </button>
                        </div>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">

                            {% if artist.links %}
                                <p>{{ text_artist_links |upper }}</p>
                                {% for link in artist.links%}
                                    <a href="{{ link.link_prefix }}{{ link.value }}" target="_blank">
                                        {% if link.icon %}
                                            <i class="{{ link.icon }}"></i>
                                        {% endif %} 
                                        &nbsp
                                        {{ link.name }}
                                    </a>
                                    <br/>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>{{ entry_artist_id }}</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ artist.customer_id }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>{{ entry_artist_name }}</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ artist.firstname }} {{ artist.lastname }}</p>
                                    </div>
                                </div>
                                {% if artist.email and artist.show_email %}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>{{ entry_artist_email }}</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{ artist.email }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if artist.telephone and artist.show_phone %}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>{{ entry_artist_phone}}</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>{{ artist.telephone }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>{{ entry_artist_date_added }}</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{ artist.date_added | date('Y-m-d') }}</p>
                                    </div>
                                </div>
                                {% if artist.description%}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>{{ entry_artist_description }}</label><br/>
                                            <p>{{ artist.description }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if artist.contacts %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>{{ entry_artist_contacts }}</label><br/>
                                            <p>{{ artist.contacts }}</p>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Experience</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Expert</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Hourly Rate</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>10$/hr</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Total Projects</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>230</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>English Level</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Expert</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Availability</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>6 months</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Your Bio</label><br/>
                                        <p>Your detail description</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>       
            </div>


            {{ content_bottom }}</div>
        {{ column_right }}</div>
</div>
<script type="text/javascript">

    var isFollowing = {{ is_following ? is_following : 0 }};
    
    var followerCount = $('#follower_count');
    
    $(".follow").click(function () {
    var element = $(this);
            $.ajax({
            type: "GET",
                    url: "{{follow_action}}",
                    data: {
                    "artist_id" :{{ artist.customer_id }}
                    },
                    success: function () {
                    toggleFollow()
                    }
            });
            return false;
    });
            function toggleFollow() {

            if (isFollowing) {
            isFollowing = false;
                    $('#unfollow').fadeOut(200).hide();
                    $('#follow').fadeIn(200).show();
                    followerCount.text(parseInt(followerCount.text()) - 1);
            } else {
            isFollowing = true;
                    $('#follow').fadeOut(200).hide();
                    $('#unfollow').fadeIn(200).show();
                    followerCount.text(parseInt(followerCount.text()) + 1);
            }
            }
    /*
     $('input[name=\'customer_group_id\']').on('change', function () {
     $.ajax({
     url: 'index.php?route=account/register/customfield&customer_group_id=' + this.value,
     dataType: 'json',
     success: function (json) {
     $('.custom-field').hide();
     $('.custom-field').removeClass('required');
     for (i = 0; i < json.length; i++) {
     custom_field = json[i];
     $('#custom-field' + custom_field['custom_field_id']).show();
     if (custom_field['required']) {
     $('#custom-field' + custom_field['custom_field_id']).addClass('required');
     }
     }
     },
     error: function (xhr, ajaxOptions, thrownError) {
     alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
     }
     });
     });
     */
</script>
<style type="text/css">

    .emp-profile{
        padding: 3%;
        margin-top: 3%;
        margin-bottom: 3%;
        border-radius: 0.5rem;
        background: #fff;
    }
    .profile-img{
        text-align: center;
    }
    .profile-img img{
        width: 70%;
        height: 100%;
    }
    .profile-img .file {
        position: relative;
        overflow: hidden;
        margin-top: -20%;
        width: 70%;
        border: none;
        border-radius: 0;
        font-size: 15px;
        background: #212529b8;
    }
    .profile-img .file input {
        position: absolute;
        opacity: 0;
        right: 0;
        top: 0;
    }
    .profile-head h5{
        color: #333;
    }
    .profile-head h6{
        color: #0062cc;
    }
    .profile-edit-btn{
        border: none;
        border-radius: 1.5rem;
        width: 70%;
        padding: 2%;
        font-weight: 600;
        color: #6c757d;
        cursor: pointer;
    }
    .proile-rating{
        font-size: 12px;
        color: #818182;
        margin-top: 5%;
    }
    .proile-rating span{
        color: #495057;
        font-size: 15px;
        font-weight: 600;
    }
    .profile-head .nav-tabs{
        margin-bottom:5%;
    }
    .profile-head .nav-tabs .nav-link{
        font-weight:600;
        border: none;
    }
    .profile-head .nav-tabs .nav-link.active{
        border: none;
        border-bottom:2px solid #0062cc;
    }
    .profile-work{
        padding: 14%;
        margin-top: -15%;
    }
    .profile-work p{
        font-size: 12px;
        color: #818182;
        font-weight: 600;
        margin-top: 10%;
    }
    .profile-work a{
        text-decoration: none;
        color: #495057;
        font-weight: 600;
        font-size: 14px;
    }
    .profile-work ul{
        list-style: none;
    }
    .profile-tab label{
        font-weight: 600;
    }
    .profile-tab p{
        font-weight: 600;
        color: #0062cc;
    }
</style>
{{ footer }}
