{{ header }}
<div id="account-edit" class="container">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endfor %}
    </ul>
    {% if error_warning %}
        <div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}</div>
    {% endif %}
    <div class="row">{{ column_left }}
        <div id="content" class="col">{{ content_top }}
            <h1>{{ heading_title }}</h1>
            <form action="{{ action }}" method="post" enctype="multipart/form-data">
                <fieldset>
                    <legend>{{ text_your_details }}</legend>
                    <div class="form-group row required">
                        <label class="col-sm-2 col-form-label" for="input-firstname">{{ entry_firstname }} </label>
                        <div class="col-sm-10">
                            <input type="text" name="firstname" value="{{ firstname }}" placeholder="{{ entry_firstname }}" id="input-firstname" class="form-control"/>
                            {% if error_firstname %}
                                <div class="text-danger">{{ error_firstname }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group row required">
                        <label class="col-sm-2 col-form-label" for="input-lastname">{{ entry_lastname }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="lastname" value="{{ lastname }}" placeholder="{{ entry_lastname }}" id="input-lastname" class="form-control"/>
                            {% if error_lastname %}
                                <div class="text-danger">{{ error_lastname }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group row required">
                        <label class="col-sm-2 col-form-label" for="input-email">{{ entry_email }}</label>
                        <div class="col-sm-10">
                            <input type="email" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control"/>
                            {% if error_email %}
                                <div class="text-danger">{{ error_email }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group row required">
                        <label class="col-sm-2 col-form-label" for="input-telephone">{{ entry_telephone }}</label>
                        <div class="col-sm-10">
                            <input type="tel" name="telephone" value="{{ telephone }}" placeholder="{{ entry_telephone }}" id="input-telephone" class="form-control"/>
                            {% if error_telephone %}
                                <div class="text-danger">{{ error_telephone }}</div>
                            {% endif %}
                        </div>
                    </div>
                    {% for custom_field in custom_fields %}
                        {% if custom_field.type == 'select' %}
                            <div class="form-group row{% if custom_field.required %} required{% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
                                <label class="col-sm-2 col-form-label" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
                                <div class="col-sm-10">
                                    <select name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control">
                                        <option value="">{{ text_select }}</option>
                                        {% for custom_field_value in custom_field.custom_field_value %}
                                            {% if account_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id == account_custom_field[custom_field.custom_field_id] %}
                                                <option value="{{ custom_field_value.custom_field_value_id }}" selected="selected">{{ custom_field_value.name }}</option>
                                            {% else %}
                                                <option value="{{ custom_field_value.custom_field_value_id }}">{{ custom_field_value.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    {% if error_custom_field[custom_field.custom_field_id] %}
                                        <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                        {% if custom_field.type == 'radio' %}
                            <div class="form-group row{% if custom_field.required %} required{% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
                                <label class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
                                <div class="col-sm-10">
                                    <div>
                                        {% for custom_field_value in custom_field.custom_field_value %}
                                            <div class="form-check">
                                                {% if account_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id == account_custom_field[custom_field.custom_field_id] %}
                                                    <label><input type="radio" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}" class="form-check-input" checked="checked"/>
                                                        {{ custom_field_value.name }}</label>
                                                    {% else %}
                                                    <label><input type="radio" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}" class="form-check-input"/>
                                                        {{ custom_field_value.name }}</label>
                                                    {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                    {% if error_custom_field[custom_field.custom_field_id] %}
                                        <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                        {% if custom_field.type == 'checkbox' %}
                            <div class="form-group row{% if custom_field.required %} required{% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
                                <label class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
                                <div class="col-sm-10">
                                    <div>
                                        {% for custom_field_value in custom_field.custom_field_value %}
                                            <div class="form-check">
                                                {% if account_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id in account_custom_field[custom_field.custom_field_id] %}
                                                    <label><input type="checkbox" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}" class="form-check-input" checked="checked"/>
                                                        {{ custom_field_value.name }}</label>
                                                    {% else %}
                                                    <label><input type="checkbox" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}" class="form-check-input"/>
                                                        {{ custom_field_value.name }}</label>
                                                    {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                    {% if error_custom_field[custom_field.custom_field_id] %}
                                        <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                        {% if custom_field.type == 'text' %}
                            <div class="form-group row{% if custom_field.required %} required{% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
                                <label class="col-sm-2 col-form-label" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
                                <div class="col-sm-10">
                                    <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if account_custom_field[custom_field.custom_field_id] %}{{ account_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control"/>
                                    {% if error_custom_field[custom_field.custom_field_id] %}
                                        <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                        {% if custom_field.type == 'textarea' %}
                            <div class="form-group row{% if custom_field.required %} required{% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
                                <label class="col-sm-2 col-form-label" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
                                <div class="col-sm-10">
                                    <textarea name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" rows="5" placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control">{% if account_custom_field[custom_field.custom_field_id] %}{{ account_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}</textarea>
                                    {% if error_custom_field[custom_field.custom_field_id] %}
                                        <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                        {% if custom_field.type == 'file' %}
                            <div class="form-group row{% if custom_field.required %} required{% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
                                <label class="col-sm-2 col-form-label">{{ custom_field.name }}</label>
                                <div class="col-sm-10">
                                    <button type="button" id="button-custom-field{{ custom_field.custom_field_id }}" data-loading-text="{{ text_loading }}" class="btn btn-light"><i class="fas fa-upload"></i> {{ button_upload }}</button>
                                    <input type="hidden" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if account_custom_field[custom_field.custom_field_id] %}{{ account_custom_field[custom_field.custom_field_id] }} {% endif %}"/>
                                    {% if error_custom_field[custom_field.custom_field_id] %}
                                        <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                        {% if custom_field.type == 'date' %}
                            <div class="form-group row{% if custom_field.required %} required{% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
                                <label class="col-sm-2 col-form-label" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
                                <div class="col-sm-10">
                                    <div class="input-group date">
                                        <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if account_custom_field[custom_field.custom_field_id] %}{{ account_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control"/>
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                                        </div>
                                    </div>
                                    {% if error_custom_field[custom_field.custom_field_id] %}
                                        <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                        {% if custom_field.type == 'time' %}
                            <div class="form-group row{% if custom_field.required %} required{% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
                                <label class="col-sm-2 col-form-label" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
                                <div class="col-sm-10">
                                    <div class="input-group time">
                                        <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if account_custom_field[custom_field.custom_field_id] %}{{ account_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control"/>
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                                        </div>
                                    </div>
                                    {% if error_custom_field[custom_field.custom_field_id] %}
                                        <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                        {% if custom_field.type == 'datetime' %}
                            <div class="form-group row{% if custom_field.required %} required{% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
                                <label class="col-sm-2 col-form-label" for="input-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
                                <div class="col-sm-10">
                                    <div class="input-group datetime">
                                        <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if account_custom_field[custom_field.custom_field_id] %}{{ account_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" id="input-custom-field{{ custom_field.custom_field_id }}" class="form-control"/>
                                        <div class="input-group-append">
                                            <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                                        </div>
                                    </div>
                                    {% if error_custom_field[custom_field.custom_field_id] %}
                                        <div class="text-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </fieldset>
                
                {% if is_artist %}
                    <fieldset>
                        <legend>{{ text_customer_settings }}</legend>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">{{ entry_settings_show_email }}</label>
                            <div class="col-sm-10 col-form-label text-left">
                                <div class="form-check">
                                    <input type="hidden" 
                                           name="customer_settings[show_email]" 
                                           value="0" />
                                    <input type="checkbox" 
                                                name="customer_settings[show_email]" 
                                                value="1"
                                                class="form-check-input" 
                                                {% if customer_settings.show_email %}
                                                   checked="checked"
                                                {% endif %}
                                                   />
                                    <label>
                                        {{ text_yes }}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">{{ entry_settings_show_phone }}</label>
                            <div class="col-sm-10 col-form-label text-left">
                                <div class="form-check">
                                    <input type="hidden" 
                                           name="customer_settings[show_phone]" 
                                           value="0" />
                                    <input type="checkbox" 
                                                name="customer_settings[show_phone]" 
                                                value="1"
                                                class="form-check-input" 
                                                {% if customer_settings.show_phone%}
                                                   checked="checked"
                                                {% endif %}
                                                   />
                                    <label>
                                        {{ text_yes }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>{{ text_your_profile_links }}</legend>
                        {% for link in profile_links %}
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label" for="input-profile-link-{{ link.profile_link_type_id }}">
                                    {% if link.icon %}
                                        <i class="{{ link.icon }}"></i>
                                    {% endif %}&nbsp{{ link.name }}
                                </label>
                                <div class="col-sm-10 input-group">
                                    {% if link.link_prefix %}
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">{{ link.link_prefix }}</div>      
                                        </div>
                                    {% endif %}
                                    <input type="text" 
                                           name="profile_links[{{ link.profile_link_type_id }}]" 
                                           value="{{ link.value }}" 
                                           id="input-profile-link-{{ link.profile_link_type_id }}" 
                                           class="form-control"/>
                                    {% if error_profile_links[link.profile_link_type_id] %}
                                        <div class="text-danger">{{ error_profile_link }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </fieldset>

                    <fieldset>
                        <legend>{{ text_profile_description }}</legend>

                        <div class="form-group row" >
                            <label class="col-sm-2 col-form-label" for="input-profile-description-description">{{ entry_profile_description_description }}</label>
                            <div class="col-sm-10">
                                <textarea name="profile_description[description]"
                                          rows="5" 
                                          placeholder="{{ info_profile_description_description }}"
                                          id="input-profile-description-description"
                                          class="form-control">{% if profile_description.description %}{{ profile_description.description }}{% endif %}</textarea>
                                {% if error_profile_description['description'] %}
                                    <div class="text-danger">{{ error_profile_description['description'] }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group row" >
                            <label class="col-sm-2 col-form-label" for="input-profile-description-contacts">{{ entry_profile_description_contacts }}</label>
                            <div class="col-sm-10">
                                <textarea name="profile_description[contacts]"
                                          rows="3" 
                                          placeholder="{{ info_profile_description_contacts }}"
                                          id="input-profile-description-contacts"
                                          class="form-control">{% if profile_description.contacts %}{{ profile_description.contacts }}{% endif %}</textarea>
                                {% if error_profile_description['contacts'] %}
                                    <div class="text-danger">{{ error_profile_description['contacts'] }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <hr>

                    </fieldset>

                    <fieldset>
                        <legend>{{ text_profile_image }}</legend>

                        <!-- The fileinput-button span is used to style the file input field as button -->
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="alert alert-info">
                                    <li style="list-style-type:none;"><i class="fa fa-info-circle"></i> <strong>{{ text_image_max_count }}:</strong> {{ max_image_count }};</li>
                                    <li style="list-style-type:none;"><i class="fa fa-info-circle"></i> <strong>{{ text_image_max_size }}:</strong> {{ max_image_size_mb }}</li>
                                </div>
                                {% if error_image %}
                                    <div class="alert alert-danger alert-dismissible">
                                        <i class="fa fa-exclamation-circle"></i> {{ error_image }}
                                    </div>
                                {% endif %}
                                <span class="btn btn-success fileinput-button" >
                                    <i class="fas fa-plus"></i>&nbsp
                                    <span>{{ text_add_image }}</span>
                                    <!-- The file input field used as target for the file upload widget -->
                                    <input id="fileupload" type="file" name="files[]" multiple>
                                </span>
                            </div>
                        </div>

                        <!-- The global progress bar -->
                        <div id="progress" class="progress" hidden>
                            <div class="progress-bar progress-bar-success" ></div>
                        </div>
                        <!-- image error -->
                        <div id="upload-err" class="alert alert-danger alert-dismissible" hidden>
                            <i class="fa fa-exclamation-circle"></i> {{ error_image_general }}
                        </div>
                        <!-- The container for the uploaded files -->
                        <div id="files" class="file-container" >
                            {% for image in images %}
                                <div class="acc-img-container">
                                    <div>
                                        <img class="img-thumbnail acc-img-size" src="{{ image.thumbnailUrl }}">
                                    </div>
                                    <button class="btn-danger btn-s delete deleteImg acc-delete-btn" 
                                            data-deletetype="POST" 
                                            data-deleteurl="{{ image.delete_url}}" 
                                            data-uid="{{ image.uid }}" 
                                            data-usrid="{{ customer_id }}" 
                                            data-hash="{{ hash }}"
                                            data-url="{{ image.url }}"
                                            data-name="{{ image.name }}">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </div>
                            {% endfor %}
                        </div>

                        <div id="image-inputs" style="display:none;">
                            {% for image in images %}
                                <input id="image-input-{{ image.uid }}" type="hidden" name="images[]" value="{{ image.name }}">
                            {% endfor %}
                        </div>
                    </fieldset>

                {% endif %}
                    
                <hr/>
                
                <input type="hidden" id="hash" name="hash" value="{{ hash }}">
                
                <div class="d-inline-block pt-2 pd-2 w-100">
                    <div class="float-left"><a href="{{ back }}" class="btn btn-light">{{ button_back }}</a></div>
                    <div class="float-right">
                        <button type="submit" class="btn btn-primary">{{ button_continue }}</button>
                    </div>
                </div>
            </form>
            {{ content_bottom }}</div>
        {{ column_right }}</div>
</div>

<!-- JQFILEUPLOAD JS -->
{% if is_artist %}
<!-- custom acc stylesheet for image display -->
<link rel="stylesheet" href="{{ jqupload }}css/acc-message.css">
<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="{{ jqupload }}css/jquery.fileupload.css">
<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="{{ jqupload }}js/vendor/jquery.ui.widget.js"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="https://blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="{{ jqupload }}js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="{{ jqupload }}js/jquery.fileupload.js"></script>
<!-- The File Upload processing plugin -->
<script src="{{ jqupload }}js/jquery.fileupload-process.js"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="{{ jqupload }}js/jquery.fileupload-image.js"></script>
<!-- The File Upload validation plugin -->
<script src="{{ jqupload }}js/jquery.fileupload-validate.js"></script>

<script>
        /*jslint unparam: true, regexp: true */
        /*global window, $ */
        $(function () {
        'use strict';
        // Change this to the location of your server-side upload handler:
        var url = '{{ jqupload }}server/php/profile.php',
                        deleteButton = $('<button/>')
                        .addClass('btn-danger btn-s delete deleteImg acc-delete-btn')
                        .append('<i class="fas fa-trash-alt"></i>')
                        .on('click', function () {
                        var $this = $(this),
                                        data = $this.data();
                                        console.log(data);
                        $.ajax({
                        url: data.deleteurl,
                                        method: data.deletetype,
                                        data: data
                        })
                                        .done(function(data) {
                                        console.log(data);
                                        });
                        $("#image-input-" + data.uid).remove();
                        $this.parent().remove();
                        });
        $('.deleteImg').on('click', function () {
            var $this = $(this),
            data = $this.data();
            data['deleteUrl'] = data.deleteurl;
            data['deleteType'] = data.deletetype;
            console.log(data);
            $.ajax({
                url: data.deleteurl,
                method: data.deletetype,
                data: data
            })
                    .done(function(data) {
                        console.log(data);
            });
            $("#image-input-" + data.uid).remove();
            $this.parent().remove();
        });
        function uniqId() {
            return Math.round(new Date().getTime() + (Math.random() * 100));
        }

        var hash = "{{ hash }}";
        $('#fileupload').fileupload({
            url: url,
            formData: { hash : hash, usrid : {{ customer_id }} },
            dataType: 'json',
            autoUpload: true,
            acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
            maxFileSize:{{ max_image_size }},
            // Enable image resizing, except for Android and Opera,
            // which actually support image resizing, but fail to
            // send Blob objects via XHR requests:
            disableImageResize: /Android(?!.*Chrome)|Opera/
            .test(window.navigator.userAgent),
            previewCanvas: false,
            disableImagePreview: false
        }).on('fileuploadadd', function (e, data) {
            data.context = $('<div/>')
                    .addClass('acc-img-container')
                    .appendTo('#files');
            $.each(data.files, function (index, file) {
                var node = $('<p/>');
                if (!index) {
                    node.append('<br>');
                }
                node.appendTo(data.context);
            });
        }).on('fileuploadprocessalways', function (e, data) {
            var index = data.index,
            file = data.files[index],
            node = $(data.context.children()[index]);
            if (file.error) {
                node.parent().remove();
                $('#upload-err').show();
            }
        }).on('fileuploadprogressall', function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            var progressBar = $('#progress .progress-bar');
            if (progress < 99) {
                $('#progress').show();
            }
            progressBar.css('width', progress + '%');
            if (progress > 99) {
                $('#progress').delay(1000).fadeOut();
            }
        }).on('fileuploaddone', function (e, data) {
            $.each(data.result.files, function (index, file) {
                if (file.url) {
                    var link = $('<div>');
                    var image = $('<img>')
                            .attr('src', file.thumbnailUrl)
                            .addClass('img-thumbnail')
                            .addClass('acc-img-size')
                    ;
                    $(data.context.children()[index])
                            .html(image)
                            .wrap(link);
                    var uid = uniqId();
                    $(data.context[index])
                            .append(deleteButton.clone(true).data(file)
                            .attr('data-deletetype', 'POST')
                            .attr('data-deleteurl', file.deleteUrl)
                            .attr('data-uid', uid)
                            .attr('data-usrid', {{ customer_id }})
                            .attr('data-hash', hash)
                            );
                    $('#image-inputs').append('<input id=image-input-' + uid + ' type="hidden" name="images[]" value="' + file.name + '" />');
                } else if (file.error) {
                }
                });
                }).on('fileuploadfail', function (e, data) {
                $.each(data.files, function (index) {
                    $('#upload-err').show();
                });
            }).prop('disabled', !$.support.fileInput)
            .parent().addClass($.support.fileInput ? undefined : 'disabled');
    });
</script>

<script type="text/javascript"><!--

	$('#delete').click(function() {
	if (confirm($(this).data('confirm-link')))
			window.location = $(this).attr('href');
	return false;
	//window.location = "www.example.com/index.php?id=" + this.id;
	});
//--></script>
{% endif %}

<!-- JQFILEUPLOAD -->


        <script type="text/javascript"><!--
// Sort the custom fields
            $('.form-group[data-sort]').detach().each(funct        ion() {
            if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('.form-group').le                ngth) {
            $('.form-group').eq($(this).attr('data-sort')).before        (thi        s);
            }

            if ($(this).attr('data-sort') > $('.form-group').le                ngth) {
            $('.form-group:last').after        (thi        s);
            }

            if ($(this).attr('data-sort') == $('.form-group').le                ngth) {
            $('.form-group:last').after        (thi        s);
            }

            if ($(this).attr('data-sort') < - $('.form-group').le                ngth) {
            $('.form-group:first').before        (this);
            }
            });
//--></    script>
                        <script type="text/javas    cript"><!--
                        $('button[id^=\'button-custom-field\']').on('click', function() {
                    var element = this;
            $('#form-upload').remove();
            $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');
            $('#form-upload input[name=\'file\']').trigger('click');
            if (typeof timer != 'undefined') {
            clearI            nte    r            val(timer);
                        }
                        
                        timer = setInterval(function() {
                    if ($('#form-upload input[name=\'file\']').val() != '') {
            clearInterval(timer);
            $.ajax({
            url: 'index.php?route=tool/upload',
                    type: 'post',
                    dataType: 'json',
                    data: new FormData($('#form-upload')[0]),
                    cache: false,
                    contentType: false,
                    processData: false,
                    beforeSend: functi                                    on() {
            $(element).button('loading');
                        },
                        complete: function() {
                    $(element).button('reset');
                            },
                            success: function(json) {
                    $(element).parent().find('.text-danger').remove();
            if (json['error']) {
            $(element).parent().find('input').after('<div class="                                            text-da                                    nger">' + json['error'] + '</div>');
                    }
                    
                    if (jso                                    n['suc                            cess'])                    {
                    alert    (jso    n['success']);
            $(element).parent().find('inp    ut').val(json['code']);
                            }
                            },
                            error: function(xhr, ajaxOptions, thrownError) {
                    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                            }
                            });
                        }
                    }, 500);
                    });
                    //--></script>
<script type="text/javascript"><!--
                        $('.date').datetimepicker({
            'format': 'YYYY-MM-DD',
            'locale': '{{ datepicker }}',
            'allowInputToggle': true
                            });
                            
                            $('.time').datetimepicker({
            'format': 'HH:mm',
            'locale': '{{ datepicker }}',
            'allowInputToggle': true
                                });
                                
                                $('.datetime').datetimepicker({
            'format': 'YYYY-MM-DD HH:mm',
            'locale': '{{ datepicker }}',
            'allowInputToggle': true
                                    });
                                    //--></script>
        {{ footer }}
