{{ header }}{{ column_left }}
<div id="content" class="container">
  <div class="page-header">
      <div class="float-right">
        {% if variant %}
          <button type="button" id="button-variant" data-toggle="tooltip" title="{{ button_variant }}" class="btn btn-warning"><i class="fas fa-save"></i></button>
        {% endif %}
        <button type="submit" form="form-product" formaction="{{ action }}" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fas fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-light"><i class="fas fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
  </div>
  <div class="">
    {% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><i class="fas fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    <div class="card">
      <div class="card-header"><i class="fas fa-pencil-alt"></i>&nbsp {{ text_form }}</div>
      <div class="card-body">
        <form method="post" enctype="multipart/form-data" id="form-product">
          <ul class="nav nav-tabs">
            <li class="nav-item"><a href="#tab-general" data-toggle="tab" class="nav-link active">{{ tab_general }}</a></li>
            <li class="nav-item"><a href="#tab-attribute" data-toggle="tab" class="nav-link">{{ tab_attribute }}</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab-general">
                <fieldset>
                    <legend>APRASYMAS</legend>
                    {% if languages|length > 1 %}
                        {% set form_class = 'tab-pane' %}
                        <ul class="nav nav-tabs" id="language">
                          {% for language in languages %}
                            <li class="nav-item"><a href="#language{{ language.language_id }}" data-toggle="tab" class="nav-link"><img src="catalog/language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}"/> {{ language.name }}</a></li>
                          {% endfor %}
                        </ul>
                    {% endif %}
                    <div class="tab-content">
                      {% for language in languages %}
                        <div class="{{ form_class }}}" id="language{{ language.language_id }}">
                          <div class="form-group row required">
                            <label class="col-sm-2 col-form-label" for="input-name{{ language.language_id }}">{{ entry_product_name }}</label>
                            <div class="col-sm-10">
                              <input type="text" name="product_description[{{ language.language_id }}][name]" value="{{ product_description[language.language_id] ? product_description[language.language_id].name }}" placeholder="{{ entry_product_name }}" id="input-name{{ language.language_id }}" class="form-control"/>
                              {% if error_name[language.language_id] %}
                                <div class="invalid-tooltip">{{ error_name[language.language_id] }}</div>
                              {% endif %}</div>
                          </div>
                          <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="input-description{{ language.language_id }}">{{ entry_description }}</label>
                            <div class="col-sm-10">
                              <textarea name="product_description[{{ language.language_id }}][description]" placeholder="{{ entry_description }}" id="input-description{{ language.language_id }}" data-toggle="ckeditor" data-lang="{{ ckeditor }}" class="form-control">{{ product_description[language.language_id] ? product_description[language.language_id].description }}</textarea>
                            </div>
                          </div>
                          <div class="form-group row">
                            <label class="col-sm-2 col-form-label" for="input-tag{{ language.language_id }}">{{ entry_tag }}</label>
                            <div class="col-sm-10">
                              <input type="text" name="product_description[{{ language.language_id }}][tag]" value="{{ product_description[language.language_id] ? product_description[language.language_id].tag }}" placeholder="{{ entry_tag }}" id="input-tag{{ language.language_id }}" class="form-control"/>
                              <small class="form-text text-muted">{{ help_tag }}</small>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                </fieldset>
              
                <fieldset>
                    <legend>KATEGORIJOS IR FILTRAI</legend>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="input-category">{{ entry_category }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="category" value="" placeholder="{{ entry_category }}" id="input-category" class="form-control"/>
                            <div id="product-category" class="form-control" style="height: 150px; overflow: auto;">
                                {% for product_category in product_categories %}
                                    <div id="product-category{{ product_category.category_id }}"><i class="fas fa-minus-circle"></i> {{ product_category.name }}
                                        <input type="hidden" name="product_category[]" value="{{ product_category.category_id }}"/>
                                    </div>
                                {% endfor %}
                            </div>
                            <small class="form-text text-muted">{{ help_category }}</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label" for="input-filter">{{ entry_filter }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="filter" value="" placeholder="{{ entry_filter }}" id="input-filter" class="form-control"/>
                            <div id="product-filter" class="form-control" style="height: 150px; overflow: auto;">
                                {% for product_filter in product_filters %}
                                    <div id="product-filter{{ product_filter.filter_id }}"><i class="fas fa-minus-circle"></i> {{ product_filter.name }}
                                        <input type="hidden" name="product_filter[]" value="{{ product_filter.filter_id }}"/>
                                    </div>
                                {% endfor %}
                            </div>
                            <small class="form-text text-muted">{{ help_filter }}</small>
                        </div>
                    </div>
                    <div class="form-group row" hidden>
                        <label class="col-sm-2 col-form-label">{{ entry_store }}</label>
                        <div class="col-sm-10">
                            <div class="form-control" style="height: 150px; overflow: auto;">
                                {% for store in stores %}
                                    <label class="form-check">
                                        {% if store.store_id in product_store %}
                                            <input type="checkbox" name="product_store[]" value="{{ store.store_id }}" checked="checked" class="form-check-input"/>
                                            {{ store.name }}
                                        {% else %}
                                            <input type="checkbox" name="product_store[]" value="{{ store.store_id }}" class="form-check-input"/>
                                            {{ store.name }}
                                        {% endif %}
                                    </label>
                                {% endfor %}</div>
                        </div>
                    </div>
                </fieldset>
                    
                <fieldset>
                  <legend>DUOMENYS</legend>
                  <input type="hidden" name="master_id" value="{{ master_id }}"/>

                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="input-location">{{ entry_location }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="location" value="{{ location }}" placeholder="{{ entry_location }}" id="input-location" class="form-control"/>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="input-price">{{ entry_price }}</label>
                    <div class="col-sm-10">
                      <input type="number" step="0.01" name="price" value="{{ price }}" placeholder="{{ entry_price }}" id="input-price" class="form-control"/>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="input-length">{{ entry_dimension }}</label>
                    <div class="col-sm-10">
                      <div class="row">
                        <div class="col-sm-4">
                          <input type="number" name="length" value="{{ length }}" placeholder="{{ entry_length }}" id="input-length" class="form-control"/>
                        </div>
                        <div class="col-sm-4">
                          <input type="number" name="width" value="{{ width }}" placeholder="{{ entry_width }}" id="input-width" class="form-control"/>
                        </div>
                        <div class="col-sm-4">
                          <input type="number" name="height" value="{{ height }}" placeholder="{{ entry_height }}" id="input-height" class="form-control"/>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="input-length-class">{{ entry_length_class }}</label>
                    <div class="col-sm-10">
                      <select name="length_class_id" id="input-length-class" class="form-control">
                        {% for length_class in length_classes %}
                          {% if length_class.length_class_id == length_class_id %}
                            <option value="{{ length_class.length_class_id }}" selected="selected">{{ length_class.title }}</option>
                          {% else %}
                            <option value="{{ length_class.length_class_id }}">{{ length_class.title }}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="input-weight">{{ entry_weight }}</label>
                    <div class="col-sm-10">
                      <input type="number" name="weight" value="{{ weight }}" placeholder="{{ entry_weight }}" id="input-weight" class="form-control"/>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="input-weight-class">{{ entry_weight_class }}</label>
                    <div class="col-sm-10">
                      <select name="weight_class_id" id="input-weight-class" class="form-control">
                        {% for weight_class in weight_classes %}
                          {% if weight_class.weight_class_id == weight_class_id %}
                            <option value="{{ weight_class.weight_class_id }}" selected="selected">{{ weight_class.title }}</option>
                          {% else %}
                            <option value="{{ weight_class.weight_class_id }}">{{ weight_class.title }}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                      
                  <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="input-advertisement-status">{{ entry_advertisement_status }}</label>
                    <div class="col-sm-10">
                      <select name="advertisement_status_id" id="input-advertisement-status" class="form-control">
                        {% for advertisement_status in advertisement_statuses %}
                          {% if advertisement_status.advertisement_status_id == advertisement_status_id %}
                            <option value="{{ advertisement_status.advertisement_status_id }}" selected="selected">{{ advertisement_status.description }}</option>
                          {% else %}
                            <option value="{{ advertisement_status.advertisement_status_id }}">{{ advertisement_status.description }}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                      
                </fieldset>
                      
                <fieldset>
                    <legend>{{ text_image }}</legend>
                    <div class="row">
                      <div class="col-sm-4 col-md-3 mb-3">
                        <div class="card image">
                          <img src="{{ thumb }}" alt="" title="" id="thumb-image" data-placeholder="{{ placeholder }}" class="card-img-top"/> <input type="hidden" name="image" value="{{ image }}" id="input-image"/>
                          <div class="card-body">
                            <button type="button" data-toggle="image" data-target="#input-image" data-thumb="#thumb-image" class="btn btn-primary btn-sm btn-block"><i class="fas fa-pencil-alt"></i> {{ button_edit }}</button>
                            <button type="button" data-toggle="clear" data-target="#input-image" data-thumb="#thumb-image" class="btn btn-warning btn-sm btn-block"><i class="fas fa-trash-alt"></i> {{ button_clear }}</button>
                          </div>
                        </div>
                      </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>{{ text_image_additional }}</legend>
                    <div class="table-responsive">
                      <table id="image" class="table table-bordered table-hover">
                        <thead>
                          <tr>
                            <td class="text-left">{{ entry_image }}</td>
                            <td class="text-left">{{ entry_sort_order }}</td>
                            <td></td>
                          </tr>
                        </thead>
                        <tbody>
                          {% set image_row = 0 %}
                          {% for product_image in product_images %}
                            <tr id="image-row{{ image_row }}">
                              <td>
                                <div class="card image">
                                  <img src="{{ product_image.thumb }}" alt="" title="" id="thumb-image{{ image_row }}" data-placeholder="{{ placeholder }}" class="card-img-top"/> <input type="hidden" name="product_image[{{ image_row }}][image]" value="{{ product_image.image }}" id="input-image{{ image_row }}"/>
                                  <div class="card-body">
                                    <button type="button" data-toggle="image" data-target="#input-image{{ image_row }}" data-thumb="#thumb-image{{ image_row }}" class="btn btn-primary btn-sm btn-block"><i class="fas fa-pencil-alt"></i> {{ button_edit }}</button>
                                    <button type="button" data-toggle="clear" data-target="#input-image{{ image_row }}" data-thumb="#thumb-image{{ image_row }}" class="btn btn-warning btn-sm btn-block"><i class="fas fa-trash-alt"></i> {{ button_clear }}</button>
                                  </div>
                                </div>
                              </td>
                              <td class="text-left"><input type="text" name="product_image[{{ image_row }}][sort_order]" value="{{ product_image.sort_order }}" placeholder="{{ entry_sort_order }}" class="form-control"/></td>
                              <td class="text-right"><button type="button" onclick="$('#image-row{{ image_row }}').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fas fa-minus-circle"></i></button></td>
                            </tr>
                            {% set image_row = image_row + 1 %}
                          {% endfor %}
                        </tbody>
                        <tfoot>
                          <tr>
                            <td colspan="2"></td>
                            <td class="text-right"><button type="button" id="button-image" data-toggle="tooltip" title="{{ button_image_add }}" class="btn btn-primary"><i class="fas fa-plus-circle"></i></button></td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                </fieldset>
              
            </div>
                        
            <div class="tab-pane" id="tab-attribute">
              <div class="table-responsive">
                <table id="attribute" class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <td class="text-left">{{ entry_attribute }}</td>
                      <td class="text-left">{{ entry_text }}</td>
                      <td></td>
                    </tr>
                  </thead>
                  <tbody>
                    {% set attribute_row = 0 %}
                    {% for product_attribute in product_attributes %}
                      <tr id="attribute-row{{ attribute_row }}">
                        <td class="text-left"><input type="text" name="product_attribute[{{ attribute_row }}][name]" value="{{ product_attribute.name }}" placeholder="{{ entry_attribute }}" class="form-control"/> <input type="hidden" name="product_attribute[{{ attribute_row }}][attribute_id]" value="{{ product_attribute.attribute_id }}"/></td>
                        <td class="text-left">
                          {% for language in languages %}
                            <div class="input-group mb-12">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><img src="catalog/language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}"/></span>
                              </div>
                              <textarea name="product_attribute[{{ attribute_row }}][product_attribute_description][{{ language.language_id }}][text]" rows="5" placeholder="{{ entry_text }}" class="form-control">{{ product_attribute.product_attribute_description[language.language_id] ? product_attribute.product_attribute_description[language.language_id].text }}</textarea>
                            </div>
                          {% endfor %}</td>
                        <td class="text-right"><button type="button" onclick="$('#attribute-row{{ attribute_row }}').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fas fa-minus-circle"></i></button></td>
                      </tr>
                      {% set attribute_row = attribute_row + 1 %}
                    {% endfor %}
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="2"></td>
                      <td class="text-right"><button type="button" id="button-attribute" data-toggle="tooltip" title="{{ button_attribute_add }}" class="btn btn-primary"><i class="fas fa-plus-circle"></i></button></td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
            
           
            
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
var changed = [];

$('#form-product').on('change', ':input', function(e) {
	//console.log($(this).attr('name'));

	key = $(this).attr('name');

    if (changed[key] != this) {
        changed[key] = this;
    }
});


$('#button-variant').on('click', function(e) {
	$('.modal').remove();

	html = '<div id="modal-variant" class="modal fade">';
	html += '  <div class="modal-dialog">';
	html += '    <div class="modal-content">';
	html += '      <div class="modal-header">';
	html += '	     <h5 class="modal-title"><i class="fas fa-pencil-alt"></i> {{ text_variant }}</h5> <button type="button" class="close" data-dismiss="modal">&times;</button>';
	html += '      </div>';
	html += '      <div class="modal-body">';

	i = 0;

	for (key in changed) {
		console.log(i);

		html += '<div class="form-group">';
		html += '  <label class="col-form-label" for="input-modal' + i + '">' + $(changed[key]).attr('placeholder') + '</label>';
		html += '  <input type="text" name="' + $(changed[key]).attr('name') + '" value="' + $(changed[key]).val() + '" placeholder="' + $(changed[key]).attr('placeholder') + '" class="form-control"/>';
		html += '</div>';

		i++;
	}

	html += '      </div>';
	html += '      <div class="modal-footer">';
	html += '	     <button type="button" id="button-save" class="btn btn-primary">{{ button_save }}</button> <button type="button" class="btn btn-light" data-dismiss="modal">{{ button_cancel }}</button>';
	html += '      </div>';
	html += '    </div>';
	html += '  </div>';
	html += '</div>';

	$('body').append(html);

	$('#modal-variant').modal('show');
});

$('textarea[data-toggle=\'ckeditor\']').ckeditor();


// Category
$('input[name=\'category\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=product/category/autocomplete&filter_name=' + encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['category_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'category\']').val('');

		$('#product-category' + item['value']).remove();

		$('#product-category').append('<div id="product-category' + item['value'] + '"><i class="fas fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="product_category[]" value="' + item['value'] + '" /></div>');
	}
});

$('#product-category').on('click', '.fa-minus-circle', function() {
	$(this).parent().remove();
});

// Filter
$('input[name=\'filter\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/filter/autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['filter_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter\']').val('');

		$('#product-filter' + item['value']).remove();

		$('#product-filter').append('<div id="product-filter' + item['value'] + '"><i class="fas fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="product_filter[]" value="' + item['value'] + '" /></div>');
	}
});

$('#product-filter').on('click', '.fa-minus-circle', function() {
	$(this).parent().remove();
});

//--></script>
<script type="text/javascript"><!--
var attribute_row = {{ attribute_row }};

$('#button-attribute').on('click', function() {
	html = '<tr id="attribute-row' + attribute_row + '">';
	html += '  <td class="text-left"><input type="text" name="product_attribute[' + attribute_row + '][name]" value="" placeholder="{{ entry_attribute }}" class="form-control" /><input type="hidden" name="product_attribute[' + attribute_row + '][attribute_id]" value="" /></td>';
	html += '  <td class="text-left">';
  {% for language in languages %}
	html += '<div class="input-group">';
	html += '  <div class="input-group-prepend"><span class="input-group-text"><img src="catalog/language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span></div>';
	html += '  <textarea name="product_attribute[' + attribute_row + '][product_attribute_description][{{ language.language_id }}][text]" rows="5" placeholder="{{ entry_text }}" class="form-control"></textarea>';
	html += '</div>';
  {% endfor %}
	html += '  </td>';
	html += '  <td class="text-right"><button type="button" onclick="$(\'#attribute-row' + attribute_row + '\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fas fa-minus-circle"></i></button></td>';
	html += '</tr>';

	$('#attribute tbody').append(html);

	attributeautocomplete(attribute_row);

	attribute_row++;
});

function attributeautocomplete(attribute_row) {
	$('input[name=\'product_attribute[' + attribute_row + '][name]\']').autocomplete({
		'source': function(request, response) {
			$.ajax({
				url: 'index.php?route=catalog/attribute/autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
				dataType: 'json',
				success: function(json) {
					response($.map(json, function(item) {
						return {
							category: item.attribute_group,
							label: item.name,
							value: item.attribute_id
						}
					}));
				}
			});
		},
		'select': function(item) {
			$('input[name=\'product_attribute[' + attribute_row + '][name]\']').val(item['label']);
			$('input[name=\'product_attribute[' + attribute_row + '][attribute_id]\']').val(item['value']);
		}
	});
}

$('#attribute tbody tr').each(function(index, element) {
	attributeautocomplete(index);
});
//--></script>

<script type="text/javascript"><!--
var image_row = {{ image_row }};

$('#button-image').on('click', function() {
	html = '<tr id="image-row' + image_row + '">';
	html += '  <td><div class="card image">';
	html += '    <img src="{{ placeholder }}" alt="" title="" id="thumb-image' + image_row + '" data-placeholder="{{ placeholder }}" class="card-img-top"/> <input type="hidden" name="product_image[' + image_row + '][image]" value="" id="input-image' + image_row + '"/>';
	html += '    <div class="card-body">';
	html += '      <button type="button" data-toggle="image" data-target="#input-image' + image_row + '" data-thumb="#thumb-image' + image_row + '" class="btn btn-primary btn-sm btn-block"><i class="fas fa-pencil-alt"></i> {{ button_edit }}</button>';
	html += '      <button type="button" data-toggle="clear" data-target="#input-image' + image_row + '" data-thumb="#thumb-image' + image_row + '" class="btn btn-warning btn-sm btn-block"><i class="fas fa-trash-alt"></i> {{ button_clear }}</button>';
	html += '    </div>';
	html += '  </div></td>';
	html += '  <td class="text-left"><input type="text" name="product_image[' + image_row + '][sort_order]" value="0" placeholder="{{ entry_sort_order }}" class="form-control"/></td>';
	html += '  <td class="text-right"><button type="button" onclick="$(\'#image-row' + image_row + '\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fas fa-minus-circle"></i></button></td>';
	html += '</tr>';

	$('#image tbody').append(html);

	image_row++;
});
//--></script>

<script type="text/javascript"><!--
$('#content').on('click', 'button[id^=\'button-upload\']', function() {
	var element = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
		clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload/upload&user_token={{ user_token }}',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(element).button('loading');
				},
				complete: function() {
					$(element).button('reset');
				},
				success: function(json) {
					$(element).parent().find('.invalid-tooltip').remove();

					if (json['error']) {
						$(element).parent().find('input[type=\'hidden\']').after('<div class="invalid-tooltip d-block">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);
					}

					if (json['code']) {
						$(element).parent().find('input[type=\'hidden\']').val(json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});

$('.date').datetimepicker({
	'format': 'YYYY-MM-DD',
	'locale': '{{ datepicker }}',
	'allowInputToggle': true
});

$('.time').datetimepicker({
	'format': 'HH:mm',
	'locale': '{{ datepicker }}',
	'allowInputToggle': true
});

$('.datetime').datetimepicker({
	'format': 'YYYY-MM-DD HH:mm',
	'locale': '{{ datepicker }}',
	'allowInputToggle': true
});
//--></script>
<script type="text/javascript"><!--
$('#language li:first-child a').tab('show');
//--></script>
{{ footer }}