/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 23, 2018, 5:28:04 PM
    Author     : ORCA-ACER
*/

@charset "UTF-8";

.file-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.acc-delete-btn {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 100;
}

.acc-img-container {
	position: relative;
	margin: 5px auto;
}

.acc-img-size {
	width: 200px;
	height: 200px;
	object-fit: contain !important;
}

