{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-custom-field" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>
		  {{ heading_title }}
	  </h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid"> {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        
		  
		  <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-custom-field" class="form-horizontal">
          <fieldset>
            <legend>{{ text_customized_field }}
				{% if custom_field_id %}
				  [id:{{custom_field_id}}]
				{% endif %}
			</legend>
          
			
			<div class="tab-pane active" id="tab-general">
              <ul class="nav nav-tabs" id="language">
                {% for language in languages %}
                <li><a href="#language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
                {% endfor %}
              </ul>
              <div class="tab-content">
                {% for language in languages %}
                
				<div class="tab-pane" id="language{{ language.language_id }}">
                  
					<!-- name -->
					<div class="form-group required">
						<label class="col-sm-2 control-label" for="input-name{{ language.language_id }}">{{ entry_name }}</label>
						<div class="col-sm-10"> 
						  <input type="text" 
								 name="custom_field_description[{{ language.language_id }}][name]" 
								 value="{{ custom_field_description[language.language_id] ? custom_field_description[language.language_id].name }}" 
								 placeholder="{{ entry_name }}" 
								 id="input-name{{ language.language_id }}" 
								 class="form-control" />
							{% if error_name[language.language_id] %}
							<div class="text-danger">{{ error_name[language.language_id] }}</div>
							{% endif %}
						</div>
					</div>

					<!-- value -->
					<div class="form-group display-value" id="display-textarea">
					  <label class="col-sm-2 control-label" for="input-value{{ language.language_id }}">{{ entry_value }}</label>
					  <div class="col-sm-10">
						<textarea name="custom_field_description[{{ language.language_id }}][value-textarea]" 
								  placeholder="{{ entry_value }}" 
								  id="input-value{{ language.language_id }}" 
								  data-toggle="summernote" 
								  data-lang="{{ summernote }}" 
								  class="form-control">
							{{ custom_field_description[language.language_id] ? custom_field_description[language.language_id].value_textarea }}
						</textarea>
					  </div>
					</div>

					<div class="form-group display-value" id="display-input">
					  <label class="col-sm-2 control-label" for="input-value{{ language.language_id }}">{{ entry_value }}</label>
					  <div class="col-sm-10">
						<input type="text" 
							   name="custom_field_description[{{ language.language_id }}][value-input]" 
							   value="{{ custom_field_description[language.language_id] ? custom_field_description[language.language_id].value_input }}" 
							   placeholder="{{ text_input }}" 
							   id="input-value{{ language.language_id }}" 
							   class="form-control" />
					  </div>
					</div>

					  <div class="form-group required display-value" id="display-file">
					  <label class="col-sm-2 control-label" for="input-filename{{ language.language_id }}"> {{ entry_value }} </label>
					  <div class="col-sm-10">
						<div class="input-group">
						  <input type="text" 
								 name="custom_field_description[{{ language.language_id }}][value-file]" 
								 value="{{ custom_field_description[language.language_id] ? custom_field_description[language.language_id].value_file }}" 
								 placeholder="{{ text_file }}" 
								 id="input-value{{ language.language_id }}" 
								 class="form-control" />
						  <span class="input-group-btn">
							  <button type="button" id="button-upload{{ language.language_id }}" data-loading-text="{{ text_loading }}" class="btn btn-primary"><i class="fa fa-upload"></i> {{ button_upload }} </button>
						  </span> 
						</div>
						  <!--
						{% if error_filename %}
						<div class="text-danger"> {{ error_filename }} </div>
						{% endif %}
						-->
					  </div>
					</div>

					<div class="form-group display-value" id="display-image">
						  <label class="col-sm-2 control-label" for="input-image{{ language.language_id }}">{{ entry_value }}</label>
						  <div class="col-sm-10">
							<a href="" id="thumb-image{{ language.language_id }}" data-toggle="image" class="img-thumbnail">
								<img src="{{ custom_field_description[language.language_id] ? custom_field_description[language.language_id].thumb : placeholder }}" 
									 alt="" title="" data-placeholder="{{ placeholder }}" />
							</a>
							<input type="hidden" 
								   name="custom_field_description[{{ language.language_id }}][value-image]" 
								   value="{{ custom_field_description[language.language_id] ? custom_field_description[language.language_id].value_image }}" 
								   id="input-image{{ language.language_id }}" />
						  </div>
					</div>
					  
                </div>
                
				{% endfor %}
              </div>
            </div>
			
			<div class="form-group"></div>
			
			<!-- type -->
			<div class="form-group">
			  <label class="col-sm-2 control-label" for="input-type">{{ entry_type }}</label>
			  <div class="col-sm-10">
				<select name="type" id="input-type" class="form-control">

				  {% if type == 'input' %}                
					  <option value="input" selected="selected">{{ text_input }}</option>
				  {% else %}
					  <option value="input">{{ text_input }}</option>
				  {% endif %}

				  {% if type == 'textarea' %}
					  <option value="textarea" selected="selected">{{ text_textarea }}</option>
				  {% else %}
					  <option value="textarea">{{ text_textarea }}</option>
				  {% endif %}

				  {% if type == 'file' %}
					  <option value="file" selected="selected">{{ text_file }}</option>
				  {% else %}
					  <option value="file">{{ text_file }}</option>
				  {% endif %}

				  {% if type == 'image' %}
					  <option value="image" selected="selected">{{ text_image }}</option>
				  {% else %}
					  <option value="image">{{ text_image }}</option>
				  {% endif %}

				</select>
			  </div>
			</div>



			  <!-- status -->
			<div class="form-group">
			  <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
			  <div class="col-sm-10">
				<select name="status" id="input-status" class="form-control">


				  {% if status %}               

					  <option value="1" selected="selected">{{ text_enabled }}</option>
					  <option value="0">{{ text_disabled }}</option>

				  {% else %}

					  <option value="1">{{ text_enabled }}</option>
					  <option value="0" selected="selected">{{ text_disabled }}</option>

				  {% endif %}


				</select>
			  </div>
			</div>


			  <!-- sort order -->

			<div class="form-group">
			  <label class="col-sm-2 control-label" for="input-sort-order"><span data-toggle="tooltip" title="{{ help_sort_order }}">{{ entry_sort_order }}</span></label>
			  <div class="col-sm-10">
				<input type="text" name="sort_order" value="{{ sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
			  </div>
			</div>



			</fieldset>


			<br />
		  	  
				  
        </form>
				  
				  
      </div>
    </div>
  </div>
			  
  <link href="view/javascript/codemirror/lib/codemirror.css" rel="stylesheet" />
  <link href="view/javascript/codemirror/theme/monokai.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/codemirror/lib/codemirror.js"></script> 
  <script type="text/javascript" src="view/javascript/codemirror/lib/xml.js"></script> 
  <script type="text/javascript" src="view/javascript/codemirror/lib/formatting.js"></script> 
  
  <script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
  <link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script>
  <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>
  
  
  <script type="text/javascript"><!--
$('select[name=\'type\']').on('change', function() {
	if (this.value == 'input') {
		$('.display-value').hide();
		$('div[id^="display-input"]').show();
	} 
	else if (this.value == 'textarea'){
		$('.display-value').hide();
		$('div[id^="display-textarea"]').show();
	}
	else if (this.value == 'file'){
		$('.display-value').hide();
		$('div[id^="display-file"]').show();
	}
	else if (this.value == 'image'){
		$('.display-value').hide();
		$('div[id^="display-image"]').show();
	}
	else {
		$('.display-value').hide();
	}

});

$('select[name=\'type\']').trigger('change');

//--></script>
	  
<script type="text/javascript">

<!--
$("button[id^='button-upload']").on('click', function() {
	var id = this.id.replace("button-upload", "");
	
	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
    	clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=extension/module/customized_fields/upload&user_token={{ user_token }}',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$('#button-upload' + id).button('loading');
				},
				complete: function() {
					$('#button-upload' + id).button('reset');
				},
				success: function(json) {
					if (json['error']) {
						alert(json['error']);
					}

					if (json['success']) {
						alert(json['success']);

						$('input[name="custom_field_description[' + id + '][value-file]"]').val(json['filename']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
					alert("thrown error:\r\n" + thrownError );
					alert("status text:\r\n" + xhr.statusText );
					alert("response text:\r\n" + xhr.responseText );
				}
			});
		}
	}, 500);
});
//--></script>
	<script type="text/javascript"><!--
$('#language a:first').tab('show');
//--></script>		  
			  
{{ footer }} 